:root {
    --original-scale: 1.5;
    --change-scale: 0.15;
}

@keyframes change-scale-1 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*1));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*1));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-2 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*2));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*2));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-3 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*3));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*3));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-4 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*4));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*4));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-5 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*5));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*5));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-6 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*6));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*6));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-7 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*7));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*7));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-8 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*8));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*8));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}

@keyframes change-scale-9 {
    0% {
        transform: scale(var(--original-scale));
    }

    35% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*9));
    }

    75% {
        transform: scale(calc(var(--original-scale) - (var(--change-scale))*9));
    }

    100% {
        transform: scale(var(--original-scale));
    }
}


.spide-logo {
    width: 81px;
    position: absolute;
    left: 632px;
    top: 312px;
    animation: spide-search 6s cubic-bezier(0, 0, 0.23, 1.2) 0.2s forwards;
}


/* .spide-logo-2 {
    position: absolute;
    top: 1262px;
    left: 470px;
    width: 305px;
    animation: change-scale 4s infinite normal;
} */


.spide-logo-2 {
    position: absolute;
    top: 1262px;
    left: 470px;
    width: 305px;
}

#sl-1 {
    animation: change-scale-1 5s 0s infinite;
}

#sl-2 {
    animation: change-scale-2 5s 0s infinite;
}

#sl-3 {
    animation: change-scale-3 5s 0s infinite;
}

#sl-4 {
    animation: change-scale-4 5s 0s infinite;
}

#sl-5 {
    animation: change-scale-5 5s 0s infinite;
}

#sl-6 {
    animation: change-scale-6 5s 0s infinite;
}

#sl-7 {
    animation: change-scale-7 5s 0s infinite;
}

#sl-8 {
    animation: change-scale-8 5s 0s infinite;
}

#sl-9 {
    animation: change-scale-9 5s 0s infinite;
}