:root {
    --heading-color: #F8F7F9;
    --text-color: rgba(248, 247, 249, 0.5);
}

@keyframes change-opacity {

    0% {
        opacity: 0.05;
    }

    100% {
        opacity: 1;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
}

nav {
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
    display: flex;
    justify-content: space-evenly;
    height: 21vh;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-evenly;
}

nav ul li a {
    color: #000000;
    font-size: calc(1rem + 0.5vw);
    text-shadow: -5px -2px 4px black;
    text-decoration: none;
}

main {
    background-image: url('../img/Background-Spiderman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.avenger-logo {
    position: absolute;
    top: 3px;
    left: 10px;
    height: 17vh;
}


.spide-logo {
    position: sticky;
    top: 9px;
    left: 3px;
    width: 6vw;
    min-width: 40px;
}

.first-line {
    width: 40vw;
    min-width: 291px;
    margin: 9px 22px;
    height: fit-content;
    font-size: calc(1rem + 0.5vw);
    text-align: center;
    color: red;
    animation: change-opacity 2s ease-in-out 1s infinite alternate-reverse none;
}

.card {
    width: 16vw;
    min-width: 116px;
    background: #9d29294d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 31em;
    position: relative;
    left: 79%;
}

.card-img, video {
    width: 15vw;
    border-radius: 8px;
    margin-top: 7px;
    box-shadow: 0px 0px 6px 4px black;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body h5 {
    font-size: 28px;
    color: #970000;
}

.card-body p {
    color: var(--text-color);
    padding: 3px 9px 6px 9px;
}

#card-2 {
    margin-top: 492px;
    left: 15px;
}

footer {
    background-image: linear-gradient(to top, rgb(255, 0, 0), rgb(0, 0, 0));
    display: flex;
    height: 76px;
    align-items: center;
    justify-content: center;
    font-size: calc(1rem + 0.5vw);
}